/* width: 1080px */
/* NAVIGATION */
.body {
    background-color: rgba(0,0,0,1);
    font-family: 'Amble';
    animation: fade 1.2s forwards;
}

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 57px;
    z-index: 9999;
    background-color: rgba(25,30,41,1);
    border-bottom: 1px solid rgba(60,80,100,1);
}

.h1-navigation {
    position: absolute;
    color: rgba(215, 134, 56, 1);
    z-index: 9998;
    margin-left: 7px;
    margin-right: 7px;
    line-height: 57px;
    font-size: 20px;
    text-align: center;
    text-shadow: .5px .5px 1px white;
    font-weight: bold;
}

.fa-bars {
  color: white;
  font-size: 20px;
  position: absolute;
  line-height: 57px;
  right: 10px;
}

.hidden {
  display: none;
}

.ul-navigation {
    position: fixed;
    right: 0;
    top: 57px;
    width: 50%;
    height: 100px;
    z-index: 9997;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(25,30,41,1);
    border: 1px solid rgba(60,80,100,1);
    overflow: hidden;
}

.li-navigation {
    position: relative;
    right: 0;
    line-height: 57px;
    width: 13px;
    height: 13px;
}

.ul-navigation .li-navigation a {
    color: #D8D9E2;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    display: flex;
    text-align: center;
}

.li-navigation a:hover {
    background-color: #D8D9E2;
    color: #2B2B2E;
    border-radius: 2px;
    padding: 2px;
}


/* HOME */
#home {
    position: relative;
    background-color: rgba(25,30,41,.8);
    width: 100%;
    height: 495.993px;
    margin-top: 100px;
    padding-top: 130px;
    padding-left: 7px;
    padding-right: 3px;
    color: #D8D9E2;
    box-sizing: border-box;
    border-top: 1px solid rgba(60,80,100,1);
    border-bottom: 1px solid rgba(60,80,100,1);
}

#home h3 {
    font-size: 20px;
    margin-bottom: 7px;
}

#home h3 span {
  font-weight: 600;
  font-size: 26px;
}

#home h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

#home h5 .fullstack {
    color: rgba(220, 71, 71, 1);
    font-weight: 200;
    padding: 2px;
    box-sizing: border-box;
}

#home p {
    font-size: 10px;
    margin-bottom: 9px;
    color: #cac2c2;
}

#home a {
    width: 95px;
    height: 22px;
    border-radius: 7px;
    border: 1.5px solid rgba(60,80,100,1);
    display: block;
    text-align: center;
    line-height: 22px;
    color: rgba(215, 134, 56, 1);
    font-size: 13px;
    text-decoration: none;
    background: none;
    transition: .8;
}

#home a:hover {
  background-color: rgba(215, 134, 56, 1);
  color: rgba(25,30,41,1);
}

#home .img-home {
    margin: 0px auto;
    width: 152px;
    height: 203px;
    border-radius: 7px;
    float: right;
}

/* FOOTER */
#footer {
    
    background-color: rgba(25,30,41,1);
    width: 100%;
    height: 297px;
    margin-top: 57px;
    bottom: 0;
    box-sizing: border-box;
    padding: 19px 19px 0 19px;
    position: relative;
    border-top: 1px solid rgba(60,80,100,1);
}

.colab {
  background-color: rgba(25,30,41,1);
  margin-bottom: 22px;
}

.colab h1 {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.colab p {
  font-size: 15px;
  color: #cac2c2;
  margin-bottom: 11px;
}

.connect {
  background-color: rgba(25,30,41,1);
  margin-bottom: 22px;
}

.connect h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
  font-weight: bold;
}

.connect a {
  color: #cac2c2;
  font-size: 15px;
  text-decoration: none;
}

.fa-brands {
  color: white;
  font-size: 15px;
  margin-right: 7px;
  margin-bottom: 17px;
}


.fa-solid {
  color: white;
  font-size: 15px;
  margin-right: 7px;
  margin-bottom: 17px;
}

.connect .fa-facebook {
  margin-bottom: 0;
}

.copyright {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-copyright {
  color: #746e6e;
  font-size: 13px;
  margin-right: 7px;
}

.copyright p {
  color: #746e6e;
  font-size: 13px;
}


/* SKILL */
#skill {
    position: relative;
    background-color: rgba(53, 53, 53,.5);
    width: 1080px;
    height: 2000px;
    margin-top: 150px;
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    padding: 100px;
    animation: fade 3s forwards;
    transition: 3s;
}

.js {
    width: 880px;
    height: 400px;
    background-color: rgba(13, 13, 14, 1);
    grid-column: 1/4;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 10px rgba(98, 98, 102, 1);
}

.js-skill {
    width: 700px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.css {
    width: 400px;
    height: 400px;
    background-color: rgba(13, 13, 14, 1);
    box-shadow: 0 0 10px rgba(98, 98, 102, 1);
    position: absolute;
    box-sizing: border-box;
    top: 550px;
    left: 100px;
}

.css-skill {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.html {
    width: 400px;
    height: 400px;
    background-color: rgba(13, 13, 14, 1);
    box-shadow: 0 0 10px rgba(98, 98, 102, 1);
    position: absolute;
    box-sizing: border-box;
    top: 550px;
    right: 100px;
}

.html-skill {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.python {
    width: 400px;
    height: 400px;
    background-color: rgba(13, 13, 14, 1);
    box-shadow: 0 0 10px rgba(98, 98, 102, 1);
    position: absolute;
    box-sizing: border-box;
    top: 1000px;
    left: 100px;
}

.python-skill {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 25px;
}

.java {
    width: 400px;
    height: 400px;
    background-color: rgba(13, 13, 14, 1);
    box-shadow: 0 0 10px rgba(98, 98, 102, 1);
    position: absolute;
    box-sizing: border-box;
    top: 1000px;
    right: 100px;
    padding-top: 25px;
}

.java-skill {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.php {
    width: 880px;
    height: 400px;
    background-color: rgba(13, 13, 14, 1);
    grid-column: 1/4;
    justify-content: center;
    position: absolute;
    box-shadow: 0 0 10px rgba(98, 98, 102, 1);
    bottom: 100px;
    display: flex;
    justify-content: center;
}

.php-skill {
    width: 700px;
    height: 400px;
}

/* PROJECT */
#project {
    position: relative;
    background-color: red;
    width: 1080px;
    height: 1700px;
    margin-top: 150px;
}

















/* GALLERY */
#gallery {
    position: relative;
    background-color: pink;
    width: 1080px;
    height: 1700px;
    margin-top: 150px;
}

/* FONTS */
@font-face {
    font-family: 'Amble';
    src: url(../fonts/amble-regular-webfont.woff) format(woff);
}
/* KEYFRAME */
@keyframes fade {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
        
    }
}





